<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Generate_SQL_Scripts.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <Generate_SQL_Scripts.My.MySettings>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="ScriptLocationTables" serializeAs="String">
                <value />
            </setting>
            <setting name="ScriptLocationViews" serializeAs="String">
                <value />
            </setting>
            <setting name="ScriptLocationFunctions" serializeAs="String">
                <value />
            </setting>
            <setting name="ScriptLocationProcedures" serializeAs="String">
                <value />
            </setting>
            <setting name="ScriptTables" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScriptViews" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScriptFunctions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScriptProcedures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralScriptDROPAsWellAsCREATE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralScriptDescriptiveHeaders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralSchemaQualifyObjectNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralScriptPermissions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralScriptOwner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TableScriptCollation" serializeAs="String">
                <value>False</value>
            </setting>
        </Generate_SQL_Scripts.My.MySettings>
    </userSettings>
</configuration>
